.content {
    margin-left: 20px;
}

.positiveCase {
    width: 20px !important;
    height: 10px !important;
    background-color: #2444F3;
    margin-left: 27px;
    margin-top: 4px;
}

.negativeCase {
    margin-top: 4px;
    margin-left: 27px;
    width: 20px;
    height: 10px;
    background-color: #F30026;
}
.pendingCase {
    margin-top: 4px;
    margin-left: 27px;
    width: 20px;
    height: 10px;
    background-color: #f4ce00;
}

.clear {
    clear: both;
}
