.wrapper {
    margin-top: 30px !important;
    text-align: center !important;
}

.table {
    margin-left: 100px !important;
    max-width: 1200px ;
}
.title {
    margin-left: 400px;
    text-align: "center" !important;
}
.thumbnail {
    font-weight: "bold" !important
}
.tableFooter {
    width: 400px;
    margin-bottom: 200px !important;
    margin-left: 100px !important;
}