.Button {
    margin-left: 5px;
    border-radius: 6px 6px;
    background-color: #06092c;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    /* margin: 10px; */
    font-weight: bold;
    width: 100%;
    margin: 20px auto;
}
  
.Button:hover {
    background-color: #2a2d58;
}
  
.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}
  
.Success {
    color: #5a5c58;
}
  
.Danger {
    color: #944317;
}
  
.content {
    display: inline-grid;
}
.negativeResult {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

.positiveResult {
    color: green;
    font-weight: bold;
    font-size: 16px;
}