.dashboardBox{
    width: 140px;
    height:140px;
    float: left;
    margin-left: 300px;
    margin-top: 100px;
    border: 1px solid #000;
}
.clear {
    clear: both;
}
.icon {
    height: 40px;
    text-align: center;
}
.title {
    height: 57px;
    border-bottom: 1px solid #000;
    text-align: center;
    background-color: rgb(255 193 7 / 13%);
}
.information {
    height: 43px;
    text-align: center;
    background-color: rgb(255 193 7 / 13%);;
}

.user {
    background-color:  rgb(21, 60, 75);
}
.negative {
    background-color: rgba(219, 43, 43, 0.938);
}
.positive {
    background-color: rgba(6, 107, 6, 0.658);
}
