.titleText {
    font-size: 28px;
}
.title {
    text-align: center;
}
.mainContain  {
    text-align: center;
}
.textField  {
    background-color: #ffffff;
    padding-top: 2px;
}
.formCode  {
    margin-top: 30px;
}
.buttonSubmit {
    height: 52px;
    margin-left: 30px;

}
.confirmData {
    margin-top: 20px;
    width: 980px;
    height: 500px;
}
.container {
    height: 70px;
    width: 800px;
    margin-left: 170px;
    text-align: center;
}
.chartContainer {
    height: 70px;
    width: 980px;
    margin-left: 170px;
    text-align: center;
}
.container  button {
    margin-top: 6px;
    margin-right: 10px;
}
.container .testingList {
    margin-top: 3px;
    margin-bottom: 10px;
}
.infoTitle{
    padding-top: 9px;
    height: 40px;
    background-color: #3F51B5 !important;
    font-size: 15px;
    color: #fff !important;
}
.information {
    font-size: 14px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
}
.information td ,th{
    width: 200px;
}
.information tr {
    height: 40px;
}
.healthCondition {
    color: green;  
    font-weight: bold;
}
.errorMessage {
    color: red;
}
.txt {
    color: #000000 !important;
    font-weight: bold;
}
.inputTime {
    width: 200px !important;
    margin-left: 90px;
}
.submitButton {
    margin-top: 17px;
}