.dialog
{
    width: 500px;
    height: 300px;
    font-family:'Times New Roman', Times, serif;
} 
.dialogContent
{
    width: 250px;
    height: 300px;
    font-family:'Times New Roman', Times, serif;
    float: left;
} 