.successText {
    color: green;
}
.titleText {
    font-size: 30px;
}
.title {
    text-align: center;
}
.mainContain  {
    
    text-align: center;
}
.textField  {
    background-color: #ffffff;
    padding-top: 2px;
    margin-right: 10px;
}
.formCode  {
    margin-top: 30px;
    margin-left: 270px;
}
.buttonSubmit {
    height: 40px;
    margin-left: 37px;

}
.confirmData {
    margin-top: 20px;
    height: 300px;
}
.container {
    height: 300px;
    width: 770px;
    margin-left: 370px;
}
.infoTitle{
    padding-top: 9px;
    height: 40px;
    background-color: #3F51B5 !important;
    font-size: 15px;
    color: #fff !important;
}
.information {
    font-size: 14px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
}
.information td ,th{
    width: 200px;
}
.information tr {
    height: 40px;
}
.healthCondition {
    color: green;  
    font-weight: bold;
}
.errorMessage {
    color: red;
}
.scanQR {
    float: left;
    margin-left: 70px;
    border: 1px solid #3F51B5;
}
.previewStyle  {
    height: 240;
    width: 320,
}
  