.LoginContainer {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginContainer::before {    
    content: "";
    background-image: url(../../assets/images/stop1.png); 
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
}
.Login {
    position: relative;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    padding: 50px;
    margin-top: 5px;
    border-radius: 7px;
    background-color: rgba(225, 221, 241, 0.356);
}
  
.InputElement {
    margin-top: 20px;
    margin-bottom: 3px;
    display: block;
    text-align: left;
    border-radius: 4px;
}
.inputField {
    border-radius: 4px !important;
}
  
.InputType {
    margin-bottom: 5px;
}
  
.ForgotPassword {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
  
.PasswordFeild {
    display: flex;
    position: relative;
}
  
.ShowPasswordIcon {
    height: fit-content;
    position: absolute;
    top: 38.5%;
    right: 3%;
    left: 93%;
}
  
.ShowPasswordIcon:hover {
    cursor: pointer;
}
  
.ForgotPasswordLink {
    text-decoration: none;
}
  
.RegisterLink {
    text-decoration: none;
}
  
@media (min-width: 600px) {
    .Login {
      width: 500px;
    }
}
.errorMessage p {
    color: rgb(237 251 32 / 97%);
    font-weight: 400;
}

.submitButton {
    background-color: #282c56 !important;
}
  