#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-size: 240px 600px;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    height: 160px;
    box-shadow: 1px #47748b;
}
#sidebar .sidebar-header h4 {
    margin-top: 10px;
    color: #fff;
    font-size: 0.9rem;
    font-family:'Times New Roman', Times, serif;
}
#sidebar .sidebar-header p{
    color: #fff;
    font-size: 0.7rem;
    opacity: 0.5;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#sidebar .sidebar-header h3 {
    text-align: center;
    color: #000;
}

#sidebar ul.components {

    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    background-color :#000;
    height: 470px;
}
#sidebar ul.components a{
    color: rgb(241, 235, 235);
    margin-left: 20px;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 0.88em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
.circle {
    margin-left: 60px;
    width: 54px;
    height: 54px;
    background-color: #fff;
    border-radius: 50%
  }
.avatar {
    margin-top: 27px;
}
.info {
    margin-top: 30px;
}
