.successText {
    color: green;
}
.titleText {
    font-size: 35px;
}
.title {
    text-align: center;
}
.mainContain  {
    padding-top : 20px;
    text-align: center;
}
.textField  {
    background-color: #ffffff;
    padding-top: 2px;
}
.formCode  {
    margin-top: 30px;
}
.buttonSubmit {
    height: 52px;
    margin-left: 30px;

}
.confirmData {
    margin-top: 10px;
    height: 300px;
}
.container {
    height: 370px;
    width: 870px;
    margin-left: 170px;

}
.infoTitle{
    text-align: center;
    padding-top: 9px;
    height: 40px;
    background-color: #3F51B5 !important;
    font-size: 15px;
    color: #fff !important;
}
.information {
    font-size: 14px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
}
.information table {
    margin-left: 200px;
}
.information td ,th{
    width: 400px;
    margin-left: 20;
}
.information tr {
    margin-left: 30;
    height: 40px;
    width: 800px;
}
.healthCondition {
    color: green;  
    font-weight: bold;
}
.errorMessage {
    color: red;
}

.backButton {
    font-size: 15px;
    margin-left: 174px;
    margin-bottom: 10px;
}

.backIcon {
    margin-left: 174px;
    margin-top: 18px;
    float: left;
}
