.successText {
    color: green;
}
.titleText {
    font-size: 24px;
}
.title {
    text-align: center;
}
.mainContain  {
    text-align: center;
}
.textField  {
    background-color: #ffffff;
    padding-top: 2px;
}
.formCode  {
    margin-top: 20px;
}
.buttonSubmit {
    height: 52px;
    margin-left: 30px;

}
.confirmData {
    margin-left: 10px;
    margin-top: 20px;
    height: 300px;
    padding-left: 60px;
}
.container {
    height: 70px;
    width: 800px;
    
    margin-top: 10px;
}
.testingTable {
    width: 800px;
    margin-top: 30px;
}
.container  button {
    height: 40px;
    margin-top: 6px;
    margin-left: 13px;
    text-align: center;
}

.container .testingList {
    margin-top: 3px;
    margin-bottom: 10px;
}
.infoTitle{
    padding-top: 9px;
    height: 40px;
    background-color: #3F51B5 !important;
    font-size: 15px;
    color: #fff !important;
}
.information {
    font-size: 14px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
}
.information td ,th{
    width: 200px;
}
.information tr {
    height: 40px;
}
.healthCondition {
    color: green;  
    font-weight: bold;
}
.errorMessage {
    color: red;
}
.txt {
    color: #000000 !important;
    font-weight: bold;
}
.form {
    margin-left: 13px;
    margin-bottom: 10px;
}
.testingTextField {
    margin-left: 14px !important;
    height: 30px !important;
    margin-top: 6px !important;
}

.chart {
    margin-top: 10px;
}
.chartBox {
    margin-bottom: 30px;
}

.selectedField {
    margin-right: 30px;
}

.tableHead {
    background-color: #132169 !important;
    color: #ffffff
}
